@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f1e4e9;
    --foreground: #5e3144;

    --card: #f1e4e9;
    --card-foreground: #5e3144;

    --popover: #f1e4e9;
    --popover-foreground: #5e3144;

    --primary: #5e3144;
    --primary-foreground: #f1e4e9;

    --secondary: #ffd400;
    --secondary-foreground: #5e3144;

    --muted: #e5cdd6;
    --muted-foreground: #235d5a;

    --accent: #ffd400;
    --accent-foreground: #806a00;

    --destructive: #e84855;
    --destructive-foreground: #f1e4e9;

    --border: #e5cdd6;
    --input: #5e3144;
    --ring: #d3abbb;

    --radius: 0.5rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #5e3144;
      --foreground: #f1e4e9;

      --card: #5e3144;
      --card-foreground: #f1e4e9;

      --popover: #5e3144;
      --popover-foreground: #f1e4e9;

      --primary: #f1e4e9;
      --primary-foreground: #5e3144;

      --secondary: #ffd400;
      --secondary-foreground: #5e3144;

      --muted: #235d5a;
      --muted-foreground: #e5cdd6;

      --accent: #ffd60a;
      --accent-foreground: #806a00;

      --destructive: #e84855;
      --destructive-foreground: #f1e4e9;

      --border: #d3abbb;
      --input: #e5cdd6;
      --ring: #5e3144;
    }

    html {
      color-scheme: dark;
    }
  }

  ::-moz-selection {
    background-color: var(--accent);
    color: var(--accent-foreground);
  }

  ::selection {
    background-color: var(--accent);
    color: var(--accent-foreground);
  }

  * {
    @apply border-border;
  }

  body {
    @apply relative
      mx-auto
      min-h-screen
      bg-background
      font-slabSerif
      text-foreground
      antialiased
      lg:flex
      lg:flex-row
      lg:gap-12
      lg:px-12;
  }

  header {
    @apply flex
      flex-col
      p-6
      lg:sticky
      lg:top-0
      lg:max-h-screen
      lg:w-2/5
      lg:px-0
      lg:pt-24;
  }

  main {
    @apply flex
      min-w-0
      px-6
      pb-6
      lg:w-3/5
      lg:px-0
      lg:pt-24;
  }

  h1 {
    @apply mb-4
    font-serif
    text-3xl
    leading-[normal]
    lg:text-6xl;
  }

  h2 {
    @apply mb-4
      font-serif
      text-2xl
      font-bold
      lg:text-4xl;
  }

  table {
    display: block;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
  }

  a {
    @apply font-bold underline underline-offset-4 transition-colors duration-300 hover:text-muted-foreground;
  }

  pre::-webkit-scrollbar {
    display: none;
  }

  pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Remove Safari input shadow on mobile */
  input[type='text'],
  input[type='email'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

@layer components {
  .title {
    @apply text-balance;
  }

  ._label {
    @apply inline-block
      select-none
      rounded-lg
      border
      border-primary
      bg-primary-foreground
      p-1
      px-3
      align-middle
      font-serif
      text-xs
      tracking-widest
      text-primary
      shadow-inner
      shadow-muted-foreground
      transition-all
      duration-300;
  }

  a._label {
    @apply mx-2 no-underline
      hover:text-primary
      hover:shadow-sm
      hover:shadow-muted-foreground;
  }
}
