@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f1e4e9;
    --foreground: #5e3144;

    --card: #f1e4e9;
    --card-foreground: #5e3144;

    --popover: #f1e4e9;
    --popover-foreground: #5e3144;

    --primary: #5e3144;
    --primary-foreground: #f1e4e9;

    --secondary: #ffd60a;
    --secondary-foreground: #5e3144;

    --muted: #e5cdd6;
    --muted-foreground: #368f8b;

    --accent: #ffd60a;
    --accent-foreground: #5e3144;

    --destructive: #e84855;
    --destructive-foreground: #f1e4e9;

    --border: #5e3144;
    --input: #5e3144;
    --ring: #5e3144;

    --radius: 0.5rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #5e3144;
      --foreground: #f1e4e9;

      --card: #5e3144;
      --card-foreground: #f1e4e9;

      --popover: #5e3144;
      --popover-foreground: #f1e4e9;

      --primary: #f1e4e9;
      --primary-foreground: #5e3144;

      --secondary: #d3abbb;
      --secondary-foreground: #f1e4e9;

      --muted: #368f8b;
      --muted-foreground: #e5cdd6;

      --accent: #ffd60a;
      --accent-foreground: #5e3144;

      --destructive: #e84855;
      --destructive-foreground: #f1e4e9;

      --border: #f1e4e9;
      --input: #e5cdd6;
      --ring: #e5cdd6;
    }

    html {
      color-scheme: dark;
    }
  }

  ::-moz-selection {
    background-color: var(--accent);
    color: var(--accent-foreground);
  }

  ::selection {
    background-color: var(--accent);
    color: var(--accent-foreground);
  }

  * {
    @apply border-border;
  }

  body {
    @apply mx-auto
      flex
      min-h-screen
      max-w-4xl
      flex-col
      bg-background
      font-slabSerif
      text-foreground
      antialiased;
  }

  main {
    @apply flex
      min-w-0
      flex-auto
      flex-grow
      flex-col
      justify-center
      p-8;
  }

  h1 {
    @apply mb-4
    font-serif
    text-4xl
    leading-[normal]
    md:text-6xl;
  }

  table {
    display: block;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
  }

  a {
    @apply font-bold underline underline-offset-4 transition-colors duration-300 hover:text-muted-foreground;
  }

  pre::-webkit-scrollbar {
    display: none;
  }

  pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Remove Safari input shadow on mobile */
  input[type='text'],
  input[type='email'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

@layer components {
  .title {
    @apply text-balance;
  }
}
